<footer class="bg-blue-50 dark:bg-gray-900">
	<div class="container flex flex-col items-center justify-between p-6 mx-auto space-y-4 sm:space-y-0 sm:flex-row">
			<a href="/">
					<img class="w-auto h-14" src="../assets/logo.png" alt="IIITD MUN logo">
			</a>

			<p class="text-sm text-gray-600 dark:text-gray-300">Made with ❤️ by <a href="https://www.linkedin.com/in/kabirsinghmehrok?trk=public_profile_browsemap&originalSubdomain=in">Kabir Singh Mehrok</a></p>

			<div class="flex -mx-2">
					<a href="https://www.instagram.com/iiitdmun.avni/" class="mx-2 text-gray-600 transition-colors duration-300 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400" aria-label="Instagram">
							<svg class="w-5 h-5 fill-current" viewBox="0 0 30 30" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z"></path>
							</svg>
					</a>
			</div>
	</div>
</footer>